* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:500px) {
    .container {
        height: 100vh;
        width: 100vw;
        background-color: white;
    }

    .navbar {
        padding-left: 1rem;
        height: 3rem;
        background-color: #C83B53;
        display: flex;
        align-items: center;
    }

    .fa-custom {
        border-right: 0.01rem solid white;
        padding-right: 0.5rem;
        color: white;
        font-size: 1.1rem;
    }

    .navbar-heading {
        padding-left: 0.5rem;
        font-size: 0.7rem;
        color: white;
    }

    .fa-bell-custom {
        color: white;
        font-size: 0.8rem;
    }

    .icon-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .user-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-bottom: 0.2rem solid rgba(128, 128, 128, 0.406);
        background-color: white;
    }

    .user-heading {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0.5rem;
    }

    .user-sub-heading {
        color: gray;
        font-size: 0.9rem;
        font-weight: 400;
    }

    .user-icon {
        height: 4rem;
        width: 4rem;
    }

    .rank {
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
    }

    .highlighter {
        color: #C83B53;
    }

    .sub-heading {
        color: #C83B53;
        font-weight: 500;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.8rem;
    }

    .section-common {
        border-right: 0.01rem solid gray;
    }

    .content {
        display: flex;
        gap: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .sub-content {
        color: gray;
        font-size: 0.6rem;
        width: 7rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
    }

    .header-headline {
        color: rgba(128, 128, 128, 0.763);
        font-weight: 500;
    }

    .header-sub-heading {
        color: #C83B53;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .common-heading {
        font-size: 1.2rem;
        font-weight: 600;
        padding-right: 0.2rem;
    }

    .highlighter {
        color: #C83B53;
    }

    .fa-down-custom {
        color: #C83B53;
        font-size: 0.6rem;
    }

    .mid-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mid-sub-heading {
        color: gray;
        font-weight: 400;
        display: block;
        font-size: 0.7rem;
    }

    .chart-wrapper {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .navbar-second {
        height: 2rem;
        background-color: #c83b524c;
        display: flex;
        gap: 1rem;
        line-height: 2rem;
        padding-left: 1rem;
        font-size: 0.9rem;
    }

    .heading {
        color: #C83B53;
        border-bottom: 0.2rem solid #C83B53;
        border-radius: 2px;
        padding-bottom: 0.5rem;
    }

    .user-photo {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }

    .user-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6rem 1rem 0.6rem 1rem;
        border-bottom: 0.01rem solid gray;
    }

    .user-name {
        font-size: 1rem;
        font-weight: 600;
        display: block;
        padding-bottom: 0.1rem;
    }

    .user-designation {
        color: gray;
        font-size: 0.8rem;
        display: block;
        padding-bottom: 0.1rem;
    }

    .user-achievement {
        font-size: 0.9rem;
        color: black;
    }

}